#root {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.content-div {
  padding: 2rem;
  /* height: 100%; */
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-style: none none solid none;
  border-color: #5d5d5d;
  background-color: #0000;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(162, 162, 162, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.codes-logo {
  width: 3rem;
  filter: drop-shadow(0 0 0.25rem #000000);
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.codes-logo:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.25rem #0299e3);
  transform: scale(1.1);
}

.header-title {
  font-size: 2rem;
  margin: 0;
  background-image: linear-gradient(to right, #fff, #0299e3);
  color: transparent;
  background-clip: text;
}

.header-logo {
  display: flex;
}

.back-button {
  width: 3rem;
}

.back-button {
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.back-button:hover {
  cursor: pointer;
  filter: invert(52%) sepia(58%) saturate(1152%) hue-rotate(178deg)
    brightness(91%) contrast(87%);
  transform: scale(1.1);
}

.back-button:active {
  transform: scale(0.95); /* Slightly shrink on click to simulate pressing */
  transition: transform 0.1s ease; /* Faster transition on click */
}
